.outer {
  background: url("./84-841998_vuitton-burberry-handbags-leather-louis-burberr-handbag-handbag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.register-form-wrapper {
  border: 1px solid lightblue;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.h1 {
  margin: 20px auto;
  text-align: center;
}
.register-form {
  width: 90%;
  margin: 20px auto;
}
.register-form-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px auto;
}
.register-form-item label {
  justify-self: flex-start;
}
.register-button-wrapper {
  display: flex;
  flex-direction: row;
}
button {
  background: lightblue;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

/* Tablet size */
@media screen and (min-width: 750px) {
  .register-form-wrapper {
    width: 60%;
  }
}
