.wrapper {
  width: 80%;
  display: grid;
  margin: auto;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 700px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
