.admin-header {
  width: 60%;
  margin: auto;
  text-align: center;
}

.admin-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
  width: 60%;
  margin: auto;
}
.section-div {
  margin: 10px;
}
.admin-link {
  text-decoration: none;
  display: block;
  margin: 5px auto;
  background: lightblue;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
